body{
   
    background-image: url("../images/bacground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

 
}
.header{
    text-align: center;
    color: aliceblue;
    margin-top: 80px;
}
.head1 p{
    font-size: 50pt;
    margin-bottom: 5px;
}
.head2 p{
    margin: 0px;
    
}
.content{
    display: flex;
    align-content: center;
    justify-content: center;

}
.content .card1{
    background-color: wheat;
    align-items: center;
    margin: 150px;
    width: 100%;
    margin-right: 20px;
    margin-top: 50px;
    height: 300px;
    margin-bottom: 0px;
    
}
.content .card2{
    background-color: wheat;
    align-items: center;
    margin: 150px;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.content .card3{
    background-color: wheat;
    align-items: center;
    margin: 150px;
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.icon{
    margin: 30px;
}
.text{
    margin: 30px;
}
.bt{
    margin: 30px;
    
}
.bt button{
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:rgb(102, 102, 247);
    border: 0px;
}
.footer p{
    color: whitesmoke;
}
.footer a{
    color: whitesmoke;
}

   
